#
# File with default application properties.
#

rojac.global.debug.mode=no

# GUI settings
rojac.gui.laf=javax.swing.plaf.metal.MetalLookAndFeel
rojac.gui.locale=ru-RU
# rojac.gui.laf=com.birosoft.liquid.LiquidLookAndFeel

# Janus connector config 
rojac.service.janusws.use_gzip=yes

# RSDN messages loader config
rojac.synchronizer.load_boken_topics_at_once=no
rojac.synchronizer.load.users=yes
rojac.synchronizer.load.users.portion=0
rojac.synchronizer.load.messages.portion=100

# Forum viewer config
rojac.viewer.show.marks.pane=yes

rsdn.user.password.store=no