# Class for setting relations between property class and to/from string converter
# The rule of to property object converter the following:
#  - if object class has correspond converter use it. If there is no converter for the class - check the rule for super class.  

# Default common converter
java.lang.Object=org.xblackcat.sunaj.service.options.converter.ObjectConverter

java.lang.Boolean=org.xblackcat.sunaj.service.options.converter.BooleanConverter
java.lang.Byte=org.xblackcat.sunaj.service.options.converter.ByteConverter
java.lang.Character=org.xblackcat.sunaj.service.options.converter.CharacterConverter
java.lang.Double=org.xblackcat.sunaj.service.options.converter.DoubleConverter
java.lang.Float=org.xblackcat.sunaj.service.options.converter.FloatConverter
java.lang.Integer=org.xblackcat.sunaj.service.options.converter.IntegerConverter
java.lang.Long=org.xblackcat.sunaj.service.options.converter.LongConverter
java.lang.Short=org.xblackcat.sunaj.service.options.converter.ShortConverter
java.lang.String=org.xblackcat.sunaj.service.options.converter.StringConverter
java.lang.Class=org.xblackcat.sunaj.service.options.converter.ClassConverter
org.xblackcat.sunaj.service.options.Password=org.xblackcat.sunaj.service.options.converter.PasswordConverter
java.awt.Point=org.xblackcat.sunaj.service.options.converter.PointConverter
java.awt.Dimension=org.xblackcat.sunaj.service.options.converter.DimensionConverter
java.util.Locale=org.xblackcat.sunaj.service.options.converter.LocaleConverter

 