# Liquid L&F
rojac.laf.Liquid.class=com.birosoft.liquid.LiquidLookAndFeel
rojac.laf.Liquid.descroption=Liquid

# Metal L&F
rojac.laf.Metal.class=javax.swing.plaf.metal.MetalLookAndFeel
rojac.laf.Metal.descroption=Metal

# Fh L&F
rojac.laf.Fh.class=com.shfarr.ui.plaf.fh.FhLookAndFeel
rojac.laf.Fh.descroption=Fh

# InfoNode L&F
rojac.laf.InfoNode.class=net.infonode.gui.laf.InfoNodeLookAndFeel
rojac.laf.InfoNode.descroption=InfoNode

# NimROD L&F
rojac.laf.NimROD.class=com.nilo.plaf.nimrod.NimRODLookAndFeel
rojac.laf.NimROD.descroption=NimROD


# Pgs L&F
rojac.laf.Pgs.class=com.pagosoft.plaf.PgsLookAndFeel
rojac.laf.Pgs.descroption=Pgs

# Plastic L&F
rojac.laf.Plastic.class=com.jgoodies.looks.plastic.PlasticLookAndFeel
rojac.laf.Plastic.descroption=Plastic

# Plastic3D L&F
rojac.laf.Plastic3D.class=com.jgoodies.looks.plastic.Plastic3DLookAndFeel
rojac.laf.Plastic3D.descroption=Plastic3D

# PlasticXP L&F
rojac.laf.PlasticXP.class=com.jgoodies.looks.plastic.PlasticXPLookAndFeel
rojac.laf.PlasticXP.descroption=PlasticXP

# Squareness L&F
rojac.laf.Squareness.class=net.beeger.squareness.SquarenessLookAndFeel
rojac.laf.Squareness.descroption=Squareness

# Tiny L&F
rojac.laf.Tiny.class=de.muntjak.tinylookandfeel.TinyLookAndFeel
rojac.laf.Tiny.descroption=Tiny

# Tonic L&F
rojac.laf.Tonic.class=com.digitprop.tonic.TonicLookAndFeel
rojac.laf.Tonic.descroption=Tonic

# Motif L&F
rojac.laf.Motif.class=com.sun.java.swing.plaf.motif.MotifLookAndFeel
rojac.laf.Motif.descroption=Motif

# Napkin L&F
rojac.laf.Napkin.class=net.sourceforge.napkinlaf.NapkinLookAndFeel
rojac.laf.Napkin.descroption=Napkin

# Synth L&F
rojac.laf.Synth.class=javax.swing.plaf.synth.SynthLookAndFeel
rojac.laf.Synth.descroption=Synth

# EaSynth L&F
rojac.laf.EaSynth.class=com.easynth.lookandfeel.EaSynthLookAndFeel
rojac.laf.EaSynth.descroption=EaSynth

# Nimbus L&F
rojac.laf.Nimbus.class=com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel
rojac.laf.Nimbus.descroption=Nimbus

# Windows L&F
rojac.laf.Windows.class=com.sun.java.swing.plaf.windows.WindowsLookAndFeel
rojac.laf.Windows.descroption=Windows

# Office2003 L&F
rojac.laf.Office2003.class=org.fife.plaf.Office2003.Office2003LookAndFeel
rojac.laf.Office2003.descroption=Office2003

# VisualStudio2005 L&F
rojac.laf.VisualStudio2005.class=org.fife.plaf.VisualStudio2005.VisualStudio2005LookAndFeel
rojac.laf.VisualStudio2005.descroption=VisualStudio2005

# OfficeXP L&F
rojac.laf.OfficeXP.class=org.fife.plaf.OfficeXP.OfficeXPLookAndFeel
rojac.laf.OfficeXP.descroption=OfficeXP

# WindowsClassic L&F
rojac.laf.WindowsClassic.class=com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel
rojac.laf.WindowsClassic.descroption=WindowsClassic

# Windows L&F
rojac.laf.JGoodies.Windows.class=com.jgoodies.looks.windows.WindowsLookAndFeel
rojac.laf.JGoodies.Windows.descroption=Windows

# Multi L&F
rojac.laf.Multi.class=javax.swing.plaf.multi.MultiLookAndFeel
rojac.laf.Multi.descroption=Multi
