# Liquid L&F
rojac.laf.liquid.class=com.birosoft.liquid.LiquidLookAndFeel
rojac.laf.liquid.description=Liquid

# Metal L&F
rojac.laf.metal.class=javax.swing.plaf.metal.MetalLookAndFeel
rojac.laf.metal.description=Metal

# Fh L&F
rojac.laf.fh.class=com.shfarr.ui.plaf.fh.FhLookAndFeel
rojac.laf.fh.description=Fh

# InfoNode L&F
rojac.laf.infonode.class=net.infonode.gui.laf.InfoNodeLookAndFeel
rojac.laf.infonode.description=InfoNode

# NimROD L&F
rojac.laf.nimrod.class=com.nilo.plaf.nimrod.NimRODLookAndFeel
rojac.laf.nimrod.description=NimROD

# Plastic L&F
rojac.laf.plastic.class=com.jgoodies.looks.plastic.PlasticLookAndFeel
rojac.laf.plastic.description=Plastic

# Plastic3D L&F
rojac.laf.plastic3d.class=com.jgoodies.looks.plastic.Plastic3DLookAndFeel
rojac.laf.plastic3d.description=Plastic3D

# PlasticXP L&F
rojac.laf.plasticxp.class=com.jgoodies.looks.plastic.PlasticXPLookAndFeel
rojac.laf.plasticxp.description=PlasticXP

# Tiny L&F
rojac.laf.tiny.class=de.muntjak.tinylookandfeel.TinyLookAndFeel
rojac.laf.tiny.description=Tiny

# Tonic L&F
rojac.laf.tonic.class=com.digitprop.tonic.TonicLookAndFeel
rojac.laf.tonic.description=Tonic

# Motif L&F
rojac.laf.motif.class=com.sun.java.swing.plaf.motif.MotifLookAndFeel
rojac.laf.motif.description=Motif

# Skin L&F
rojac.laf.skin.class=com.l2fprod.gui.plaf.skin.SkinLookAndFeel
rojac.laf.skin.description=Skin

# Synth L&F
rojac.laf.synth.class=javax.swing.plaf.synth.SynthLookAndFeel
rojac.laf.synth.description=Synth

# Nimbus L&F
rojac.laf.nimbus.class=com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel
rojac.laf.nimbus.description=Nimbus

# Office2003 L&F
rojac.laf.office2003.class=org.fife.plaf.Office2003.Office2003LookAndFeel
rojac.laf.office2003.description=Office2003

# VisualStudio2005 L&F
rojac.laf.visualstudio2005.class=org.fife.plaf.VisualStudio2005.VisualStudio2005LookAndFeel
rojac.laf.visualstudio2005.description=VisualStudio2005

# OfficeXP L&F
rojac.laf.officexp.class=org.fife.plaf.OfficeXP.OfficeXPLookAndFeel
rojac.laf.officexp.description=OfficeXP

# WindowsClassic L&F
rojac.laf.windowsclassic.class=com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel
rojac.laf.windowsclassic.description=WindowsClassic

# Windows L&F
rojac.laf.windows.class=com.jgoodies.looks.windows.WindowsLookAndFeel
rojac.laf.windows.description=Windows
