# Liquid L&F
rojac.laf.Liquid.class=com.birosoft.liquid.LiquidLookAndFeel

# Metal L&F
rojac.laf.Metal.class=javax.swing.plaf.metal.MetalLookAndFeel

# Fh L&F
rojac.laf.Fh.class=com.shfarr.ui.plaf.fh.FhLookAndFeel

# InfoNode L&F
rojac.laf.InfoNode.class=net.infonode.gui.laf.InfoNodeLookAndFeel

# NimROD L&F
rojac.laf.NimROD.class=com.nilo.plaf.nimrod.NimRODLookAndFeel


# Pgs L&F
rojac.laf.Pgs.class=com.pagosoft.plaf.PgsLookAndFeel

# Plastic L&F
rojac.laf.Plastic.class=com.jgoodies.looks.plastic.PlasticLookAndFeel

# Plastic3D L&F
rojac.laf.Plastic3D.class=com.jgoodies.looks.plastic.Plastic3DLookAndFeel

# PlasticXP L&F
rojac.laf.PlasticXP.class=com.jgoodies.looks.plastic.PlasticXPLookAndFeel

# Squareness L&F
rojac.laf.Squareness.class=net.beeger.squareness.SquarenessLookAndFeel

# Tiny L&F
rojac.laf.Tiny.class=de.muntjak.tinylookandfeel.TinyLookAndFeel

# Tonic L&F
rojac.laf.Tonic.class=com.digitprop.tonic.TonicLookAndFeel

# Motif L&F
rojac.laf.Motif.class=com.sun.java.swing.plaf.motif.MotifLookAndFeel

# Napkin L&F
rojac.laf.Napkin.class=net.sourceforge.napkinlaf.NapkinLookAndFeel

# Synth L&F
rojac.laf.Synth.class=javax.swing.plaf.synth.SynthLookAndFeel

# EaSynth L&F
rojac.laf.EaSynth.class=com.easynth.lookandfeel.EaSynthLookAndFeel

# Nimbus L&F
rojac.laf.Nimbus.class=com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel

# Windows L&F
rojac.laf.Windows.class=com.sun.java.swing.plaf.windows.WindowsLookAndFeel

# Office2003 L&F
rojac.laf.Office2003.class=org.fife.plaf.Office2003.Office2003LookAndFeel

# VisualStudio2005 L&F
rojac.laf.VisualStudio2005.class=org.fife.plaf.VisualStudio2005.VisualStudio2005LookAndFeel

# OfficeXP L&F
rojac.laf.OfficeXP.class=org.fife.plaf.OfficeXP.OfficeXPLookAndFeel

# WindowsClassic L&F
rojac.laf.WindowsClassic.class=com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel

# Windows L&F
rojac.laf.JGoodies.Windows.class=com.jgoodies.looks.windows.WindowsLookAndFeel

# Multi L&F
rojac.laf.Multi.class=javax.swing.plaf.multi.MultiLookAndFeel
